default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
development:
  <<: *default
  database: wypozyczalnia_development
test:
  <<: *default
  database: wypozyczalnia_test
production:
  <<: *default
  database: wypozyczalnia_production

